.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.container{
  display:flex;
  justify-content: center;
}
.calendar{
  width: 40vw;
}
.week{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.day-container, .weekDay{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.pending{
  background-color: #4576fc;
  color: white;
}
.passed{
  background-color: rgb(196, 196, 196);
  color: rgb(48, 48, 48);
}
.month{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}